## Data Loading and Ingestion

In [1]:
import pandas as pd

In [2]:
filepath = r"C:\Users\EmmanuelAnamelechi\Downloads\listings.csv"
df_listings = pd.read_csv(filepath)
df_listings

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,13913,Holiday London DB Room Let-on going,54730,Alina,NaN,Islington,51.568610,-0.112700,Private room,70.0,1,55,2025-08-21,0.30,2,331,10,NaN
1,15400,Bright Chelsea Apartment. Chelsea!,60302,Philippa,NaN,Kensington and Chelsea,51.487800,-0.168130,Entire home/apt,149.0,4,97,2025-04-05,0.51,1,199,1,NaN
2,17402,Very Central Modern 3-Bed/2 Bath By Oxford St W1,67564,Liz,NaN,Westminster,51.521950,-0.140940,Entire home/apt,411.0,3,56,2024-02-19,0.32,2,80,0,NaN
3,24328,Battersea live/work artist house,41759,Joe,NaN,Wandsworth,51.470720,-0.162660,Entire home/apt,NaN,7,95,2025-07-05,0.53,1,294,1,NaN
4,36274,Bright 1 bedroom apt off brick lane in Shoreditch,133271,Hendryks,NaN,Tower Hamlets,51.523220,-0.069790,Entire home/apt,210.0,5,15,2025-09-06,0.09,2,323,6,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96866,1508894090797273412,"Blueground | Finsbury, balcony, nr St. Paul's",314162972,Blueground,NaN,Islington,51.526692,-0.097322,Entire home/apt,298.0,30,0,NaN,NaN,405,351,0,NaN
96867,1508900042872179492,Self-Contained Studio in Heart of Tooting Broa...,718690455,Ali,NaN,Wandsworth,51.429503,-0.165492,Entire home/apt,66.0,1,2,2025-09-15,2.00,1,354,2,NaN
96868,1508926597927944565,One bedroom apartment Dagenham,389056540,Arnelle,NaN,Barking and Dagenham,51.529700,0.148890,Entire home/apt,350.0,1,0,NaN,NaN,1,365,0,NaN
96869,1508962439633147670,Short Stay,683246718,Tayba,NaN,Tower Hamlets,51.514600,-0.063140,Private room,40.0,1,0,NaN,NaN,1,348,0,NaN
96870,1508964418056953740,Lovely Room in central London for 4 people,320860309,Khalid,NaN,Tower Hamlets,51.517325,-0.074430,Private room,139.0,3,0,NaN,NaN,10,365,0,NaN

In [6]:
#Display basic information (.info(), .describe(), .head()).
df_listings.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,13913,Holiday London DB Room Let-on going,54730,Alina,NaN,Islington,51.56861,-0.11270,Private room,70.0,1,55,2025-08-21,0.30,2,331,10,NaN
1,15400,Bright Chelsea Apartment. Chelsea!,60302,Philippa,NaN,Kensington and Chelsea,51.48780,-0.16813,Entire home/apt,149.0,4,97,2025-04-05,0.51,1,199,1,NaN
2,17402,Very Central Modern 3-Bed/2 Bath By Oxford St W1,67564,Liz,NaN,Westminster,51.52195,-0.14094,Entire home/apt,411.0,3,56,2024-02-19,0.32,2,80,0,NaN
3,24328,Battersea live/work artist house,41759,Joe,NaN,Wandsworth,51.47072,-0.16266,Entire home/apt,NaN,7,95,2025-07-05,0.53,1,294,1,NaN
4,36274,Bright 1 bedroom apt off brick lane in Shoreditch,133271,Hendryks,NaN,Tower Hamlets,51.52322,-0.06979,Entire home/apt,210.0,5,15,2025-09-06,0.09,2,323,6,NaN

In [7]:
df_listings.describe()

,id,host_id,neighbourhood_group,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
count,9.687100e+04,9.687100e+04,0.0,96871.000000,96871.000000,6.196300e+04,96871.000000,96871.000000,72749.000000,96871.000000,96871.000000,96871.000000,0.0
mean,6.894448e+17,2.144494e+08,NaN,51.509740,-0.127638,2.299170e+02,5.440297,21.657627,0.990334,16.685499,144.927429,5.709614,NaN
std,5.941222e+17,2.196053e+08,NaN,0.049067,0.101112,4.437589e+03,23.686681,50.368644,1.304282,53.130290,141.808279,11.996770,NaN
min,1.391300e+04,2.594000e+03,NaN,51.295937,-0.496760,7.000000e+00,1.000000,0.000000,0.010000,1.000000,0.000000,0.000000,NaN
25%,3.026058e+07,2.726814e+07,NaN,51.484150,-0.189468,7.700000e+01,1.000000,1.000000,0.150000,1.000000,0.000000,0.000000,NaN
50%,8.505248e+17,1.164321e+08,NaN,51.513720,-0.127505,1.350000e+02,2.000000,5.000000,0.520000,2.000000,96.000000,0.000000,NaN
75%,1.254262e+18,4.198974e+08,NaN,51.539108,-0.068316,2.210000e+02,4.000000,20.000000,1.290000,8.000000,288.000000,6.000000,NaN
max,1.508964e+18,7.186905e+08,NaN,51.682630,0.278960,1.085147e+06,1125.000000,1902.000000,36.960000,500.000000,365.000000,390.000000,NaN

In [8]:
df_listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96871 entries, 0 to 96870
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              96871 non-null  int64
 1   name                            96871 non-null  object
 2   host_id                         96871 non-null  int64
 3   host_name                       96828 non-null  object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   96871 non-null  object
 6   latitude                        96871 non-null  float64
 7   longitude                       96871 non-null  float64
 8   room_type                       96871 non-null  object
 9   price                           61963 non-null  float64
 10  minimum_nights                  96871 non-null  int64
 11  number_of_reviews               96871 non-null  int64
 12  last_review                     72749 non-null  object
 13  reviews_per_month               72749 non-null  float64
 14  calculated_host_listings_count  96871 non-null  int64
 15  availability_365                96871 non-null  int64
 16  number_of_reviews_ltm           96871 non-null  int64
 17  license                         0 non-null      float64
dtypes: float64(6), int64(7), object(5)
memory usage: 13.3+ MB

In [11]:
# Checking for missing values, duplicated rows, and unusual data types.
#converting all objects to string
objecttype = ['name', 'neighbourhood_group', 'neighbourhood', 'room_type', 'last_review', 'host_name']
df_listings[objecttype] = df_listings[objecttype].astype('string')
df_listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96871 entries, 0 to 96870
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              96871 non-null  int64
 1   name                            96871 non-null  string
 2   host_id                         96871 non-null  int64
 3   host_name                       96828 non-null  string
 4   neighbourhood_group             0 non-null      string
 5   neighbourhood                   96871 non-null  string
 6   latitude                        96871 non-null  float64
 7   longitude                       96871 non-null  float64
 8   room_type                       96871 non-null  string
 9   price                           61963 non-null  float64
 10  minimum_nights                  96871 non-null  int64
 11  number_of_reviews               96871 non-null  int64
 12  last_review                     72749 non-null  string
 13  reviews_per_month               72749 non-null  float64
 14  calculated_host_listings_count  96871 non-null  int64
 15  availability_365                96871 non-null  int64
 16  number_of_reviews_ltm           96871 non-null  int64
 17  license                         0 non-null      float64
dtypes: float64(5), int64(7), string(6)
memory usage: 13.3 MB

In [15]:
df_listings.isna()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,True
4,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96866,False,False,False,False,True,False,False,False,False,False,False,False,True,True,False,False,False,True
96867,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True
96868,False,False,False,False,True,False,False,False,False,False,False,False,True,True,False,False,False,True
96869,False,False,False,False,True,False,False,False,False,False,False,False,True,True,False,False,False,True
96870,False,False,False,False,True,False,False,False,False,False,False,False,True,True,False,False,False,True

In [16]:
df_listings.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
96866    False
96867    False
96868    False
96869    False
96870    False
Length: 96871, dtype: bool

## Data Cleaning

In [17]:
# Convert price fields (e.g., "$2,100.00") to float.
# price is already in float data type hence there is no need to convert it again.

In [18]:
#Parsing dates (e.g., last_review) into datetime objects.
df_listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96871 entries, 0 to 96870
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              96871 non-null  int64
 1   name                            96871 non-null  string
 2   host_id                         96871 non-null  int64
 3   host_name                       96828 non-null  string
 4   neighbourhood_group             0 non-null      string
 5   neighbourhood                   96871 non-null  string
 6   latitude                        96871 non-null  float64
 7   longitude                       96871 non-null  float64
 8   room_type                       96871 non-null  string
 9   price                           61963 non-null  float64
 10  minimum_nights                  96871 non-null  int64
 11  number_of_reviews               96871 non-null  int64
 12  last_review                     72749 non-null  string
 13  reviews_per_month               72749 non-null  float64
 14  calculated_host_listings_count  96871 non-null  int64
 15  availability_365                96871 non-null  int64
 16  number_of_reviews_ltm           96871 non-null  int64
 17  license                         0 non-null      float64
dtypes: float64(5), int64(7), string(6)
memory usage: 13.3 MB

In [19]:
df_listings['last_review'] = pd.to_datetime(df_listings['last_review'], errors='coerce')

In [20]:
df_listings['last_review']

0       2025-08-21
1       2025-04-05
2       2024-02-19
3       2025-07-05
4       2025-09-06
           ...
96866          NaT
96867   2025-09-15
96868          NaT
96869          NaT
96870          NaT
Name: last_review, Length: 96871, dtype: datetime64[ns]

In [21]:
# Handling missing values in critical fields like reviews_per_month, host_name, and neighbourhood_group.
df_listings['reviews_per_month'].fillna(0, inplace=True)
df_listings['host_name'].fillna("Unknown", inplace=True)
df_listings['price'].fillna(0, inplace=True)

df_listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96871 entries, 0 to 96870
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              96871 non-null  int64
 1   name                            96871 non-null  string
 2   host_id                         96871 non-null  int64
 3   host_name                       96871 non-null  string
 4   neighbourhood_group             0 non-null      string
 5   neighbourhood                   96871 non-null  string
 6   latitude                        96871 non-null  float64
 7   longitude                       96871 non-null  float64
 8   room_type                       96871 non-null  string
 9   price                           96871 non-null  float64
 10  minimum_nights                  96871 non-null  int64
 11  number_of_reviews               96871 non-null  int64
 12  last_review                     72749 non-null  datetime64[ns]
 13  reviews_per_month               96871 non-null  float64
 14  calculated_host_listings_count  96871 non-null  int64
 15  availability_365                96871 non-null  int64
 16  number_of_reviews_ltm           96871 non-null  int64
 17  license                         0 non-null      float64
dtypes: datetime64[ns](1), float64(5), int64(7), string(5)
memory usage: 13.3 MB

C:\Users\EmmanuelAnamelechi\AppData\Local\Temp\ipykernel_19316\658154280.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_listings['reviews_per_month'].fillna(0, inplace=True)
C:\Users\EmmanuelAnamelechi\AppData\Local\Temp\ipykernel_19316\658154280.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_listings['host_name'].fillna("Unknown", inplace=True)
C:\Users\EmmanuelAnamelechi\AppData\Local\Temp\ipykernel_19316\658154280.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_listings['price'].fillna(0, inplace=True)

In [22]:
# Remove irrelevant rows (e.g., listings with zero availability or price).
df_listings = df_listings[(df_listings['price'] > 0) & (df_listings['availability_365'] > 0 )]
df_listings

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,13913,Holiday London DB Room Let-on going,54730,Alina,<NA>,Islington,51.568610,-0.112700,Private room,70.0,1,55,2025-08-21,0.30,2,331,10,NaN
1,15400,Bright Chelsea Apartment. Chelsea!,60302,Philippa,<NA>,Kensington and Chelsea,51.487800,-0.168130,Entire home/apt,149.0,4,97,2025-04-05,0.51,1,199,1,NaN
2,17402,Very Central Modern 3-Bed/2 Bath By Oxford St W1,67564,Liz,<NA>,Westminster,51.521950,-0.140940,Entire home/apt,411.0,3,56,2024-02-19,0.32,2,80,0,NaN
4,36274,Bright 1 bedroom apt off brick lane in Shoreditch,133271,Hendryks,<NA>,Tower Hamlets,51.523220,-0.069790,Entire home/apt,210.0,5,15,2025-09-06,0.09,2,323,6,NaN
5,36299,Kew Gardens 3BR house in cul-de-sac,155938,Geert,<NA>,Richmond upon Thames,51.481450,-0.281070,Entire home/apt,280.0,3,116,2025-07-20,0.64,1,324,6,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96866,1508894090797273412,"Blueground | Finsbury, balcony, nr St. Paul's",314162972,Blueground,<NA>,Islington,51.526692,-0.097322,Entire home/apt,298.0,30,0,NaT,0.00,405,351,0,NaN
96867,1508900042872179492,Self-Contained Studio in Heart of Tooting Broa...,718690455,Ali,<NA>,Wandsworth,51.429503,-0.165492,Entire home/apt,66.0,1,2,2025-09-15,2.00,1,354,2,NaN
96868,1508926597927944565,One bedroom apartment Dagenham,389056540,Arnelle,<NA>,Barking and Dagenham,51.529700,0.148890,Entire home/apt,350.0,1,0,NaT,0.00,1,365,0,NaN
96869,1508962439633147670,Short Stay,683246718,Tayba,<NA>,Tower Hamlets,51.514600,-0.063140,Private room,40.0,1,0,NaT,0.00,1,348,0,NaN
96870,1508964418056953740,Lovely Room in central London for 4 people,320860309,Khalid,<NA>,Tower Hamlets,51.517325,-0.074430,Private room,139.0,3,0,NaT,0.00,10,365,0,NaN

In [23]:
# Handing neighboorhood_group
df_listings['neighbourhood_group'].fillna("unknown", inplace=True)
df_listings

C:\Users\EmmanuelAnamelechi\AppData\Local\Temp\ipykernel_19316\4164194787.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_listings['neighbourhood_group'].fillna("unknown", inplace=True)
C:\Users\EmmanuelAnamelechi\AppData\Local\Temp\ipykernel_19316\4164194787.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_listings['neighbourhood_group'].fillna("unknown", inplace=True)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,13913,Holiday London DB Room Let-on going,54730,Alina,unknown,Islington,51.568610,-0.112700,Private room,70.0,1,55,2025-08-21,0.30,2,331,10,NaN
1,15400,Bright Chelsea Apartment. Chelsea!,60302,Philippa,unknown,Kensington and Chelsea,51.487800,-0.168130,Entire home/apt,149.0,4,97,2025-04-05,0.51,1,199,1,NaN
2,17402,Very Central Modern 3-Bed/2 Bath By Oxford St W1,67564,Liz,unknown,Westminster,51.521950,-0.140940,Entire home/apt,411.0,3,56,2024-02-19,0.32,2,80,0,NaN
4,36274,Bright 1 bedroom apt off brick lane in Shoreditch,133271,Hendryks,unknown,Tower Hamlets,51.523220,-0.069790,Entire home/apt,210.0,5,15,2025-09-06,0.09,2,323,6,NaN
5,36299,Kew Gardens 3BR house in cul-de-sac,155938,Geert,unknown,Richmond upon Thames,51.481450,-0.281070,Entire home/apt,280.0,3,116,2025-07-20,0.64,1,324,6,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96866,1508894090797273412,"Blueground | Finsbury, balcony, nr St. Paul's",314162972,Blueground,unknown,Islington,51.526692,-0.097322,Entire home/apt,298.0,30,0,NaT,0.00,405,351,0,NaN
96867,1508900042872179492,Self-Contained Studio in Heart of Tooting Broa...,718690455,Ali,unknown,Wandsworth,51.429503,-0.165492,Entire home/apt,66.0,1,2,2025-09-15,2.00,1,354,2,NaN
96868,1508926597927944565,One bedroom apartment Dagenham,389056540,Arnelle,unknown,Barking and Dagenham,51.529700,0.148890,Entire home/apt,350.0,1,0,NaT,0.00,1,365,0,NaN
96869,1508962439633147670,Short Stay,683246718,Tayba,unknown,Tower Hamlets,51.514600,-0.063140,Private room,40.0,1,0,NaT,0.00,1,348,0,NaN
96870,1508964418056953740,Lovely Room in central London for 4 people,320860309,Khalid,unknown,Tower Hamlets,51.517325,-0.074430,Private room,139.0,3,0,NaT,0.00,10,365,0,NaN

## Data Enrichment

In [24]:
#Create a price_per_booking column using price and minimum_nights.
df_listings['price_per_booking'] = df_listings['price']/df_listings['minimum_nights']
df_listings

C:\Users\EmmanuelAnamelechi\AppData\Local\Temp\ipykernel_19316\453428577.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_listings['price_per_booking'] = df_listings['price']/df_listings['minimum_nights']

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,price_per_booking
0,13913,Holiday London DB Room Let-on going,54730,Alina,unknown,Islington,51.568610,-0.112700,Private room,70.0,1,55,2025-08-21,0.30,2,331,10,NaN,70.000000
1,15400,Bright Chelsea Apartment. Chelsea!,60302,Philippa,unknown,Kensington and Chelsea,51.487800,-0.168130,Entire home/apt,149.0,4,97,2025-04-05,0.51,1,199,1,NaN,37.250000
2,17402,Very Central Modern 3-Bed/2 Bath By Oxford St W1,67564,Liz,unknown,Westminster,51.521950,-0.140940,Entire home/apt,411.0,3,56,2024-02-19,0.32,2,80,0,NaN,137.000000
4,36274,Bright 1 bedroom apt off brick lane in Shoreditch,133271,Hendryks,unknown,Tower Hamlets,51.523220,-0.069790,Entire home/apt,210.0,5,15,2025-09-06,0.09,2,323,6,NaN,42.000000
5,36299,Kew Gardens 3BR house in cul-de-sac,155938,Geert,unknown,Richmond upon Thames,51.481450,-0.281070,Entire home/apt,280.0,3,116,2025-07-20,0.64,1,324,6,NaN,93.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96866,1508894090797273412,"Blueground | Finsbury, balcony, nr St. Paul's",314162972,Blueground,unknown,Islington,51.526692,-0.097322,Entire home/apt,298.0,30,0,NaT,0.00,405,351,0,NaN,9.933333
96867,1508900042872179492,Self-Contained Studio in Heart of Tooting Broa...,718690455,Ali,unknown,Wandsworth,51.429503,-0.165492,Entire home/apt,66.0,1,2,2025-09-15,2.00,1,354,2,NaN,66.000000
96868,1508926597927944565,One bedroom apartment Dagenham,389056540,Arnelle,unknown,Barking and Dagenham,51.529700,0.148890,Entire home/apt,350.0,1,0,NaT,0.00,1,365,0,NaN,350.000000
96869,1508962439633147670,Short Stay,683246718,Tayba,unknown,Tower Hamlets,51.514600,-0.063140,Private room,40.0,1,0,NaT,0.00,1,348,0,NaN,40.000000
96870,1508964418056953740,Lovely Room in central London for 4 people,320860309,Khalid,unknown,Tower Hamlets,51.517325,-0.074430,Private room,139.0,3,0,NaT,0.00,10,365,0,NaN,46.333333

In [26]:
help

Type help() for interactive help, or help(object) for help about object.

In [28]:
# Bucket availability into categories: Full-time (availability > 300) Part-time (100–300) Rare (<100)
df_listings['availability_category'] = pd.cut( 
    df_listings['availability_365'],
    bins=[-1, 100, 300, float('inf')],
    labels=['Rare', 'Part-time', 'Full-Time'],
    include_lowest=True)
df_listings

C:\Users\EmmanuelAnamelechi\AppData\Local\Temp\ipykernel_19316\543230173.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_listings['availability_category'] = pd.cut(

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,price_per_booking,availability_category
0,13913,Holiday London DB Room Let-on going,54730,Alina,unknown,Islington,51.568610,-0.112700,Private room,70.0,1,55,2025-08-21,0.30,2,331,10,NaN,70.000000,Full-Time
1,15400,Bright Chelsea Apartment. Chelsea!,60302,Philippa,unknown,Kensington and Chelsea,51.487800,-0.168130,Entire home/apt,149.0,4,97,2025-04-05,0.51,1,199,1,NaN,37.250000,Part-time
2,17402,Very Central Modern 3-Bed/2 Bath By Oxford St W1,67564,Liz,unknown,Westminster,51.521950,-0.140940,Entire home/apt,411.0,3,56,2024-02-19,0.32,2,80,0,NaN,137.000000,Rare
4,36274,Bright 1 bedroom apt off brick lane in Shoreditch,133271,Hendryks,unknown,Tower Hamlets,51.523220,-0.069790,Entire home/apt,210.0,5,15,2025-09-06,0.09,2,323,6,NaN,42.000000,Full-Time
5,36299,Kew Gardens 3BR house in cul-de-sac,155938,Geert,unknown,Richmond upon Thames,51.481450,-0.281070,Entire home/apt,280.0,3,116,2025-07-20,0.64,1,324,6,NaN,93.333333,Full-Time
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96866,1508894090797273412,"Blueground | Finsbury, balcony, nr St. Paul's",314162972,Blueground,unknown,Islington,51.526692,-0.097322,Entire home/apt,298.0,30,0,NaT,0.00,405,351,0,NaN,9.933333,Full-Time
96867,1508900042872179492,Self-Contained Studio in Heart of Tooting Broa...,718690455,Ali,unknown,Wandsworth,51.429503,-0.165492,Entire home/apt,66.0,1,2,2025-09-15,2.00,1,354,2,NaN,66.000000,Full-Time
96868,1508926597927944565,One bedroom apartment Dagenham,389056540,Arnelle,unknown,Barking and Dagenham,51.529700,0.148890,Entire home/apt,350.0,1,0,NaT,0.00,1,365,0,NaN,350.000000,Full-Time
96869,1508962439633147670,Short Stay,683246718,Tayba,unknown,Tower Hamlets,51.514600,-0.063140,Private room,40.0,1,0,NaT,0.00,1,348,0,NaN,40.000000,Full-Time
96870,1508964418056953740,Lovely Room in central London for 4 people,320860309,Khalid,unknown,Tower Hamlets,51.517325,-0.074430,Private room,139.0,3,0,NaT,0.00,10,365,0,NaN,46.333333,Full-Time

## Data Analysis

In [29]:
df_listings.info()

<class 'pandas.core.frame.DataFrame'>
Index: 61131 entries, 0 to 96870
Data columns (total 20 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              61131 non-null  int64
 1   name                            61131 non-null  string
 2   host_id                         61131 non-null  int64
 3   host_name                       61131 non-null  string
 4   neighbourhood_group             61131 non-null  string
 5   neighbourhood                   61131 non-null  string
 6   latitude                        61131 non-null  float64
 7   longitude                       61131 non-null  float64
 8   room_type                       61131 non-null  string
 9   price                           61131 non-null  float64
 10  minimum_nights                  61131 non-null  int64
 11  number_of_reviews               61131 non-null  int64
 12  last_review                     47417 non-null  datetime64[ns]
 13  reviews_per_month               61131 non-null  float64
 14  calculated_host_listings_count  61131 non-null  int64
 15  availability_365                61131 non-null  int64
 16  number_of_reviews_ltm           61131 non-null  int64
 17  license                         0 non-null      float64
 18  price_per_booking               61131 non-null  float64
 19  availability_category           61131 non-null  category
dtypes: category(1), datetime64[ns](1), float64(6), int64(7), string(5)
memory usage: 9.4 MB

In [42]:
#What are the top 10 most expensive neighborhoods by average price?

##GROUPING THE NEIHBOURHOOD BY AVERAGE PRICE
groupings = df_listings.groupby('neighbourhood')['price'].mean().reset_index().rename(columns={'price': 'av_price'})

##sorting
Top10 = groupings.sort_values(by='av_price', ascending = False).head(10)

print(Top10)

             neighbourhood    av_price
29           Tower Hamlets  434.835867
6           City of London  353.923611
21                 Lambeth  346.183966
32             Westminster  340.723515
19  Kensington and Chelsea  334.646430
5                   Camden  216.279793
18               Islington  213.680741
12  Hammersmith and Fulham  198.096052
31              Wandsworth  197.738255
26    Richmond upon Thames  184.068579

In [43]:
# What’s the average availability and price by room type?
av_availability = df_listings.groupby('room_type')[['availability_365', 'price']].mean()

In [44]:
av_availability

                 availability_365       price
room_type
Entire home/apt        215.602051  278.515157
Hotel room             248.102941  694.911765
Private room           220.930809  120.431593
Shared room            262.173913   97.048913

In [45]:
# Which host has the most listings?
df_listings.info()

<class 'pandas.core.frame.DataFrame'>
Index: 61131 entries, 0 to 96870
Data columns (total 20 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              61131 non-null  int64
 1   name                            61131 non-null  string
 2   host_id                         61131 non-null  int64
 3   host_name                       61131 non-null  string
 4   neighbourhood_group             61131 non-null  string
 5   neighbourhood                   61131 non-null  string
 6   latitude                        61131 non-null  float64
 7   longitude                       61131 non-null  float64
 8   room_type                       61131 non-null  string
 9   price                           61131 non-null  float64
 10  minimum_nights                  61131 non-null  int64
 11  number_of_reviews               61131 non-null  int64
 12  last_review                     47417 non-null  datetime64[ns]
 13  reviews_per_month               61131 non-null  float64
 14  calculated_host_listings_count  61131 non-null  int64
 15  availability_365                61131 non-null  int64
 16  number_of_reviews_ltm           61131 non-null  int64
 17  license                         0 non-null      float64
 18  price_per_booking               61131 non-null  float64
 19  availability_category           61131 non-null  category
dtypes: category(1), datetime64[ns](1), float64(6), int64(7), string(5)
memory usage: 9.4 MB

In [50]:
grouping = df_listings.groupby('host_name', as_index=False)['calculated_host_listings_count'].sum().rename(columns={'calculated_host_listings_count': 'host_count'})

MostingListing = grouping.sort_values(by='host_count', ascending=False).head(1)

MostingListing

              host_name  host_count
6062  LuxurybookingsFZE      235000

In [61]:
# How many listings have never been reviewed?

listings = df_listings[df_listings['number_of_reviews']==0]
len(listings)

13714

In [62]:
# How many listings have never been reviewed?

listingsx = df_listings[df_listings['last_review'].isna()]
len(listingsx)

13714